.right-side-window {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 725px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
  border: 1px solid black;
  overflow-y: auto; /* Enable vertical scroll if necessary */
  z-index: 1;
}

.right-side-window-header {
  display: flex;
  justify-content: space-between;
}

.right-side-window-form {
  height: 640px;
  overflow-y: scroll;
}

.close-btn {
  cursor: pointer;
  align-self: center;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

.input-field-container {
  padding: 8px 10px;
}

.input-field-label {
  color: #333;
  display: block;
}

.input-field {
  width: 95%;
  padding: 6px;
  margin-top: 6px;
}

.right-side-window-form > footer {
  position: fixed;
  bottom: 0%;
  right: 0%;
  width: 356px;
  background-color: white;
  border: 1px solid black;
}

.create-btn {
  float: right;
  cursor: pointer;
  margin: 16px 24px 24px 0;
  padding: 8px 20px;
  font-size: large;
  color: white;
  background-color: #009977;
  border: 1px solid transparent;
  border-radius: 4px;
}

.create-btn:hover {
  background-color: #006e52;
}
