.navbar {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  overflow-y: auto; /* Enable vertical scroll if necessary */
  z-index: 1000; /* Ensure navbar is above other content */
}

.logo {
  padding-left: 6px;
  padding-right: 6px;
  color: #f0f0f0;
  font-weight: bolder;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #555;
}

.navbar-link {
  width: 100%;
  color: white;
  text-decoration: none;
}

.sidebar-icon {
  position: relative;
  top: 3px;
  padding-right: 8px;
}
